server{
    listen 80;

    server_name jobdemo.vm;

    root /var/www/app/web;

    error_log /var/log/nginx/app.{{ symfony_env }}-error.log;
    access_log /var/log/nginx/app.{{ symfony_env }}-access.log;

    location / {
        {% if symfony_env == "dev" %}
        sendfile  off;
        try_files $uri /app_dev.php;
        {% else %}
        try_files $uri /app.php;
        {% endif %}
    }

    location ~ ^/(app|app_dev|config)\.php(/|$) {
        fastcgi_pass unix:/var/run/php7.0-fpm.sock;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param  SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param  HTTPS off;
        fastcgi_param  SYMFONY_ENV  '{{ symfony_env }}';
    }
}