alias l='ls -w'
alias ll='ls -hal'
alias s='git status'
alias p='git pull'
alias d='git diff head'
alias pu='git push'
alias b='git branch'
alias c='git commit -a'
alias r='sudo service nginx restart; sudo service php7.0-fpm restart;'
alias cu='php /usr/local/bin/composer update'

export CLICOLOR=1
export LSCOLORS=ExFxBxDxCxegedabagacad
export PS1="\[\033[36m\]\u\[\033[m\]@\[\033[32m\]{{symfony_env}}:\[\033[33;1m\]\w\[\033[m\]\$ "

alias lg="git log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all"
alias lg1="git log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all"

export SYMFONY_ENV={{ symfony_env }}