{% extends 'base.html.twig' %}

{% block content %}
    <div class="intro-header">
        <div class="col-xs-12 text-center abcen1">
            <h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">Jobs, Queues & Automation</h1>
            <h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">Deferring tasks using PHP7, Symfony3 and Redis</h3>
            <ul class="list-inline intro-social-buttons">
                <li>
                    <a href="{{ path('demo_index') }}" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s">
                        <span class="network-name">Hacker News Email Demo</span>
                    </a>
                </li>
                <li id="download">
                    <a href="http://jobdemo.vm:5678/overview" class="btn btn-lg mybutton_standard swing wow fadeIn" data-wow-delay="1.2s" target="_blank">
                        <span class="network-name">Worker Web UI</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}