{% extends '::base.html.twig' %}

{% block content %}
    <div class="intro-header">
        <div class="col-xs-12 text-center abcen1">
            <h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">Scheduled</h1>
            <h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">JobId: {{ jobId }}</h3>
        </div>
    </div>
{% endblock %}