{% extends '::base.html.twig' %}

{% block content %}
    <div class="intro-header">
        <div class="col-xs-12 text-center abcen1">
            <h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">Scheduled</h1>
            <h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">
                JobId: <span style="color: #CDEB8B;">{{ jobId }}</span>
            </h3>

            <a href="{{ path('job_status', {'jobId': jobId}) }}" class="btn btn-success" target="_blank">Job Status</a>

            <a href="{{ path('job_data', {'jobId': jobId}) }}" class="btn btn-info" target="_blank">Job Data</a>

            <a href="{{ path('demo_index') }}" class="btn btn-warning">Back</a>


        </div>
    </div>
{% endblock %}