{% extends '::base.email.html.twig' %}

{% block body %}
    {% if stories is not empty %}
        {% for story in stories %}
            <h3>{{ story.title }}</h3>
            <p>{{ story.text|raw }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}